boto3==1.12.39
botocore==1.15.39
docutils==0.15.2
importlib-metadata==1.6.0
jmespath==0.9.5
packaging==20.3
pandas==0.24.2
numpy==1.16.6
protobuf==3.11.3
protobuf3-to-dict==0.1.5
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
s3transfer==0.3.3
sagemaker==1.55.3
scipy==1.2.3
six==1.14.0
smdebug-rulesconfig==0.1.2
urllib3==1.25.9
zipp==1.2.0
